* {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.gameCenter {
  background-color: #000;
}

.content {
  background-color: #000;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 55px;
  color: #fff;
}

.numberBox {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberBox>span>i{
    color: #000;
    font-size: 55px;
}

.check {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  height: 30px;
  border-radius: 10px;
  color: #000;
}
button {
  height: 30px;
  border-radius: 10px;
  color: #000;
  font-size: 22px;
}
.gameInfo {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 22px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.correct > i {
  margin-right: 20px;
}
.high > i {
  margin-right: 20px;
}

.addedParagraph{
  font-size: 40px;
  color: red;
}

